/*change all pixles to percentages except height!!!*/

/*weather dashboard*/
header {
    background-image: linear-gradient(to right, rgb(77, 118, 190), rgb(23, 11, 74));
}

/*text area to search for a city*/
textarea {
    resize: none;
    width: 275px;
    border-radius: 7px;
}

/*line under search btn*/
hr {
    border: 0;
    border-top: 2px solid black;
    margin-top: 0 px;
    width: 270px;
    margin-left: 0px;
}

/*hover for all buttons*/
button:hover {
    opacity: 65%;
}

p {
    margin-left: 10px;
}

.container {
    display: flex;
    margin: 48px 20px 48px 20px;
}

.weather-container {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: space-between;
}

/*d-flex for the weather dashboard to center text*/
.d-flex {
    justify-content: center;
}

/*row for search for a city and search button*/
.row {
    justify-content: flex-start;
}

/* cards for 5 day forecast*/
.card {
    margin-top: 50px; 
    height: 200px; 
    background-color: #434E61;
    color: white;
}

/*column for quick select buttons for cities*/
.col-1 {
    padding: 0px;
}

/*search button*/
#search-button {
    background-color: rgb(66, 144, 208);
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 110px;
    height: 30px;
}

/*quick select city buttons*/
#austin,
#chicago,
#newyork,
#orlando,
#sanfransisco,
#seattle,
#denver,
#atlanta {
    height: 30px;
    width: 270px;
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: lightgray;
    border: none;
}

/*weather*/
#weather {
    margin-left: 5px;
}

/*weather box w/border*/
#current-weather {
    border: 1px solid black;
    border-width: 100%;
    width: 100%;
    margin: 10px;
}