/*change all pixles to percentages except height!!!*/

/*weather dashboard*/
header {
    background-image: linear-gradient(to right, rgb(77, 118, 190), rgb(23, 11, 74));
}

label {
    font-size: xx-large;
}

/*line under search btn*/
hr {
    border: 0;
    border-top: 2px solid black;
    margin-top: 0 px;
    width: 100%;
    margin-left: 0px;
}

/*city name and date in current day weather*/
h2 {
margin: 10px 0px 20px 10px;
}

/*temp wind & humidity*/
p {
    margin-left: 10px;
}

ul{
    padding: 5px;
    margin-bottom: 0;
}

/*temp, wind and humity on cards*/
li {
    list-style: none;
    margin-top: 15px;
}

/*5day forecast*/
h4 {
    margin: 20px 0px 4px 10px;
 
}

/*icon image*/
img {
    height: 5%;
    width: 5%;
}

/*search history buttons*/
button {
    width: 400%;
    border: none;
    background-color: lightgray;
    border-radius: 7px;
    margin-bottom: 10px;
}

/*hover for all buttons*/
button:hover {
    opacity: 65%;
}

/*main container*/
.container {
    display: flex;
    margin: 48px 20px 48px 20px;
}

/*container for weather box*/
.weather-container {
    display: flex;
    flex-direction: column;
}

/*cards*/
.cards {
    display: flex;
    justify-content: space-between;
}

/*text inside cards*/
.card-text {
    margin-left: 0;
}

/*removed padding from card-body*/
.card-body {
    padding: 5px;
}

/*row for search for a city and search button*/
.row {
    justify-content: flex-start;
}

/* cards for 5 day forecast*/
.card {
    margin-top: 20px;
    height: 100%;
    background-color: #434E61;
    color: white;
}

/*column for quick select buttons for cities*/
.col-1 {
    padding: 0px;
}

/*text area to search for a city*/
#search-city {
    resize: none;
    width: 100%;
    border-radius: 7px;
    line-height: 200%;
}

/*search button*/
#search-button {
    background-color: rgb(66, 144, 208);
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    line-height: 165%;
}

/*hover for search button*/
#search-button:hover{
    opacity: 65%;
}

/*search button*/
#search-history{
    width: 400%;
    padding: 15px;
    border-radius: 7px;
}


/*weather*/
#weather {
    margin-left: 5px;
}

/*weather box w/border*/
#current-weather {
    border: 1px solid black;
    border-width: 100%;
    width: 100%;
    margin: 10px;
}
